{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "printWidth": 80,
  "bracketSpacing": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false
} 